/* amu smis styles */

/* 
**************
fonts
**************
 */



 /*
  ************
  variables
  ************
  */
  :root{
    --cl-white:#ffff;
    --cl-black:rgba(0, 0, 0, 0.56);
    --primary:#ECF0F8;
    --iconsColor:#e7e7e7;
    /* height: 100vh; */
  }

/* 
**************
global styles
**************
 */
 *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
 
 }

 body{
       background-color: var(--primary);
      
       

 }

/* 
**************
Header
**************
 */
/* *************
  animation
************* */
@keyframes background-change {
  from{
    opacity: 1;
  }
to{
  opacity: 0;
}
}

/* This is for mobile design */
main{
  /* animation-name: background-change; */
  animation-duration: 10s; /* Adjust duration as needed */
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  background-image: url(image/photo_3_2023-12-24_15-30-30.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  /* width: 370px; */
  width:100vw;
  min-height: 300px;
  margin: 0;
  display: flex;
  flex-direction: column;
}
.article-container{
  box-sizing: border-box;
  width:90%;
  /* height: 50%; */
  margin: 0 5%;
}
.amu-logo{
  width: 120px;
  /* margin-top: 2%; */
  border-radius: 50%;
}
.amu-title{
  width: 100%;
  color: white;
  font-size:1.4rem;
  font-family: sans-serif;
  margin-bottom:7%;
}
.line1{
  /* margin:40px 0; */
}
.amu-article{
  width: 100%;
  color:white;
  font-size: 1.1rem;
  line-height: 1.8rem;
  font-weight: lighter;
  font-family:sans-serif;
  margin:6% 0;
  
}
.sign-up{
  width:90%;
  max-height: 370px;
  margin:0 5%;
  background:linear-gradient(rgba(255, 255, 255, 0.263),rgba(255, 255, 255, 0.269));
  border-radius:3px;
}
.signup-title{
  
  color:#2c3898;;
  font-size: 1.1rem;
  font-family: sans-serif;
  padding:5%;
  font-weight: bold;
}
.input-container{
  width:85%;
  height: 70%;
  margin:0 7%;
  display: flex;
  flex-direction:column;
  
}
.line2{
  width:80%;

  margin:0 5% 15% 7%;
}

form{
  height: 100%;
}
.login-form{
width:100%;
display:flex;
margin:0 0 7% 0;
}
input{
  margin:0;
  width:90%;
  height: 35px;
  border: 2px grey;
  border-right: 3px grey solid;
  border-end-end-radius: 5px;
}
.icon{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 35px;;
 width:16%;
  background-color: #e7e7e7;
  margin:0;
  border:1px grey solid;
  border-right: 0;
}
.log-btu{
  text-decoration:none;
  display: flex;
  justify-content: center;
  align-items: center;

   margin-top:25px;
   border:1px;
   width:25%;
   height: 34px;
   background-color:#008cba ;
   border-radius: 4px;
   color:white;
   font-size:0.8rem;
}
.log-btu:hover{
  text-decoration:none;
  display: flex;
  justify-content: center;
  align-items: center;

   margin-top:10%;
   border:1px;
   width:25%;
   height: 34px;
   border-radius: 4px;
   color:white;
   font-size:0.7rem;
  background-color:#083852 ;
}
.forgetpass-btu{
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  text-decoration: none;
  border:1px;
background-color:#e7e7e7;
  width:50%;
  height: 34px;
  margin-top:8%;
  margin-bottom: 2%;
  color:black;
  /* margin-right:25px; */
  font-family: sans-serif;
  font-size:0.7rem;
}
.copyright{
position: fixed;
width: 100%;
display: flex;
align-items: center;
justify-content: center;
background-color: rgb(174, 174, 174);
height: 35px;
bottom: 0; 
color: rgb(103, 103, 103);
font-size:0.8rem;

}
footer{
  width:100vw;
  height: 100vh;
  display: flex;
  flex-direction:row ;
  flex-wrap: wrap;
}
.card{
box-sizing: border-box;
  width:92%;
  height:135px;
  margin:3% 3%;
  background-color: white;
  text-align: center;
  text-decoration: none;
  font-size:1rem;
  border-radius:4px;
}
.card-text{
margin-top:4.5%;
font-size:1.2rem;
color: grey;
}
.card>i{
  font-size:2.4rem;
  margin-top:5%;
}
.fa-calendar-days{
   color:#10b981;
}
.fa-message{

  color:#10b981;

}

.fa-laptop{

  color:#434e92;
}
.card>.fa-user{
    color:orange;
}
.fa-cloud{
  color:orange;
}
